<ng-container *ngIf="!ratingResults; else stars">
  <h2 class="oldtypo-h2">{{ 'app-rating.title' | translate }}</h2>
  <div
    (mouseleave)="onMouseLeave()">
    <mat-icon
      *ngFor="let index of [0, 1, 2, 3, 4]"
      class="material-icons-outlined interactive"
      [ngClass]="getIcon(index)"
      (click)="onClick(index, $event)"
      (mousemove)="onMouseMove(index, $event)">
      {{ getIcon(index) }}
    </mat-icon>
  </div>
  <button mat-flat-button (click)="save()">
    {{ 'app-rating.save' | translate }}
  </button>
</ng-container>

<ng-template #stars>
  <span #spanRef
        (mouseenter)="openPerMouse(spanRef)"
        (click)="openPopup(spanRef)"
        class="star-preview">
    <mat-icon
      *ngFor="let index of [0, 1, 2, 3, 4]"
      class="material-icons-outlined star"
      [ngClass]="getIconAccumulated(index)">
      {{ getIconAccumulated(index) }}
    </mat-icon>
    <mat-icon style="cursor: pointer;">expand_more</mat-icon>
    {{ people }}
  </span>
</ng-template>
