.outer {
  width: 80%;
  max-width: 300px;
  background-color: transparent;
  box-shadow: none;
}

h1 {
  font-size: 1.5em !important;
}

.main-heading-primary {
  display: block;
  font-size: 200%;
  font-weight: 200;
  text-align: center;
  letter-spacing: 7px;
  color: var(--primary);
  animation: moveInLeft 3s ease;
  margin-bottom: 30px;
}

.main-container {
  height: 100%;
  min-height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
}

.main-heading-secondary {
  display: block;
  margin-top: 4vh;
  font-weight: normal;
  text-align: center;
  color: var(--secondary);
  animation: moveInRight 3.0s ease;
}

.feedback {
  display: block;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: var(--on-background);
  opacity: 0.6;

  > a {
    padding: 10px;
    display: inline;

    &:hover {
      background-color: transparent;
      color: var(--on-background);
      outline: var(--secondary) solid 3px;
      border-radius: 5px;
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

mat-card-header {
  justify-content: center;
}

.screenshot {
  display: block;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  outline: none;
}

.bg-object {
  width: 15px;
  height: 15px;
  font-size: 70px;
  line-height: 100%;
  font-weight: bold;
  position: absolute;
  transform: scale(0) translate(-50%, -50%);
  z-index: 1000;
  @media (min-width: 750px) {
    animation: bg-object-anim 10s ease-in-out 1;
  }
}

@keyframes bg-object-anim {
  from {
    color: var(--secondary);
    opacity: 1.0;
    transform: scale(0) translate(-50%, -50%);
  }
  to {
    color: var(--seconday);
    opacity: 0;
    transform: scale(11) translate(-50%, -50%);
  }
}

app-app-rating {
  margin-bottom: 1em;
}
