<div mat-dialog-content>
  <div>
    <h2 class="oldtypo-h2"
        tabindex="0">{{ 'header.sure' | translate }}</h2>
    <p class="oldtypo-p"
       tabindex="0">{{ 'header.really-delete-account' | translate }}</p>
    <ul *ngFor="let room of rooms"
        tabindex="0">
      <li>&raquo;{{room.name}}&laquo;</li>
    </ul>
  </div>
</div>

<app-dialog-action-buttons
  buttonsLabelSection="delete-account"
  confirmButtonLabel="delete"
  [confirmButtonType]=confirmButtonType
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildDeleteAccountActionCallback()"
></app-dialog-action-buttons>
