<div data-nosnippet>
  <p class="slogan" tabindex="0">»Noch Fragen?«</p>

  <img alt="Auditorium"
       class="screenshot"
       height="185"
       src="/assets/background/auditorium.webp"
       srcset="/assets/background/auditorium.webp 1x, /assets/background/Auditorium-original-bw.webp 2x"
       loading="lazy"
       tabindex="-1"
       width="811">

  <div tabindex="0">
    <p>Vorträge, Vorlesungen und seit Corona auch Online-Seminare enden in der Regel mit: »Haben Sie Fragen?«. Und stets
      meldet sich niemand oder es fragen
      immer dieselben wenigen.
      Im Konferenzsaal traut sich kaum jemand oder die Fragen, die man im Verlauf des
      Vortrags eigentlich stellen wollte, sind vergessen.
      Im Video-Konferenzsystem agiert man nicht anonym. Die Sitzung wird möglicherweise aufgezeichnet.
      Die Mikrofone sind stumm,
      der Chat wird schnell unübersichtlich und man kann den Kommentaren und Fragen kaum mehr folgen.</p>

    <p>Wem daran liegt, dass Vorträge und Online-Seminare
      hinterfragt werden, braucht ein Tool zum anonymen und stillen Fragenstellen.
      Ein solches Open-Source-Tool steht mit »frag.jetzt« kostenlos zur freien Verfügung.
      Gibt es Bedenken? Ist das Tool barrierefrei, daten&shy;schutz&shy;kon&shy;form,
      sofort ohne Einarbeitung und ohne technisches Verständnis mit jedem Endgerät nutzbar? Dreimal ja.</p>

    <p>Wenn ich »frag.jetzt« anonym und somit ohne soziale Kontrolle verwenden lasse, lade ich dann nicht auch zum
      Missbrauch ein? Nein, denn das Q&A-Forum kann von einer Hilfskraft live moderiert werden: Nur
      vortragsadäquate
      Fragen und Kommentare verbleiben im Forum. Außerdem kannst du alle neuen Fragen automatisch in die Moderation
      verschieben:
      Sie werden erst öffentlich, wenn du oder deine Moderator*innen sie einzeln freigeben.
    </p>

    <p>Aber ich kann doch nicht alle Fragen in den letzten zehn Minuten meines Vortrags oder im Online-Seminar
      beantworten. Klar. Hier kommt der kollektive Tool-Aspekt zum Tragen: Das Auditorium kann jede Frage bewerten,
      neudeutsch: up oder down voten. Die vom Auditorium am höchsten bewerteten Fragen kannst du sofort beantworten, die
      anderen, falls du es willst, später noch in »frag.jetzt«, da die Sitzung eines registrierten Users fortbesteht.
    </p>
    <p>
      Auch kannst du das Tool bereits vor der Veranstaltung einsetzen,
      um Fragen der Teilnehmenden zu sammeln und zum Gewichten zur Verfügung zu stellen.
      Das bindet die Teilnehmenden schon vor der Veranstaltung mit ein,
      ermöglicht eine Abfrage von Erwartungen und Vorwissen und hilft, deinen Vortrag oder dein Seminar entsprechend
      anzupassen.
    </p>
  </div>

  <h2 tabindex="0">Studierende online und im Hörsaal aktivieren</h2>

  <p>
    Wer Online-Seminare gehalten hat,
    weiß, was es heißt, gegen eine »digitale Wand« zu sprechen:
    Reden ohne Feedback mit der Tendenz zum Selbstgespräch.
    Ob die Teilnehmenden wirklich zuhören, das Gehörte verstehen oder überhaupt präsent sind, sieht man nicht.
    Ihre Kameras sind abgeschaltet.
    Aber selbst wenn man das Auditorium sieht, zum Beispiel face-to-face im Hörsaal,
    gibt es diese Unsicherheit.
    Malte Persike erläutert in einem Podcast auf podcampus.de, wie man mit Audience-Response-Systemen,
    vor allem mit Backchannel-Tools wie »frag.jetzt«, Studierende aktivieren kann:
  </p>

  <a class="info"
     href="https://www.podcampus.de/nodes/RkPlg"
     target="_blank" rel="noopener">
    Digitales Lehren, Lernen und Prüfen: Wie gelingt die Aktivierung von Studierenden?
    <span>Öffnet neue Seite</span>
  </a>
  <br><br>
  <div class="video">
    <div class="videoWrapper">
      <iframe title="Malte Persike: Digitales Lehren, Lernen und Prüfen: Wie gelingt die Aktivierung von Studierenden?"
              src="https://www.podcampus.de/nodes/RkPlg/embed?vq=res1080"
              loading="lazy"
              tabindex="0"
              height="360"
              allowfullscreen>
      </iframe>
    </div>
  </div>

  <h2 tabindex="0">
    Das Besondere an »frag.jetzt«
  </h2>
  <p>
    Was unterscheidet unser Backchannel-Tool von »Mentimeter«, »Slido«, »Poll Everywhere« und vielen anderen
    kommerziellen Feedback-Apps?
    Es ist das Ergebnis langjähriger Erfahrungen mit anonymen Audience-Response-Systemen in der Präsenz- und
    Online-Lehre.
    Neben einer intuitiven Bedienbarkeit, belegt in empirischen UX-Studien mit Hunderten Studierenden,
    waren didaktische und motivationale Kriterien bestimmend für die Konzeption und Entwicklung der App,
    siehe unseren
    <a class="info"
       href="https://arsnova.thm.de/blog/"
       target="_blank" rel="noopener">ARSnova-Blog<span>Öffnet neue Seite</span></a>.
  </p>
  <div tabindex="0">
    <p style="padding-top: 25px">
      <strong>Bonus für »gute Fragen«</strong><br><br>Die Lehrkraft kann gute Fragen mit einem Stern auszeichen.
      Die Fragenstellenden erhalten zu jedem erworbenen Stern einen 8-ziffrigen Code (»Token«).
      Die Tokens können per Mail in Bonuspunkte eingelöst werden.
      Die Lehrperson überprüft die eingereichten Tokens anhand der vergebenen im Bonus-Archiv ihres Raumes.
    </p>
    <p style="padding-top: 25px">
      <strong>Fragen beantworten oder markieren</strong><br><br>Lehrkräfte und Moderator*innen können Fragen bejahen,
      verneinen, kommentieren oder mit einem Stern auszeichnen.
      Natürlich können die Icons auch für andere Kennzeichnungszwecke verwendet werden.
      Sie dienen auch als Filterkriterien, um markierte oder kommentierte Fragen schnell zu finden.
      Wenn die Lehrkraft die Option freigegeben hat, können auch Teilnehmer*innen alle Fragen kommentieren.
      Es sind Konversationen möglich, also Kommentare auf Kommentare.
    </p>
    <p style="padding-top: 25px">
      <strong>Fragen kategorisieren</strong><br><br>
      Raumersteller*innen und Moderator*innen können Fragenkategorien (»Labels«) festlegen.
      Fragensteller*innen können ihre Frage einer der vorgegebenen Kategorien zuordnen, auch nachträglich.
      Kategorisierte Fragen können per Klick auf das Label-Icon gefiltert werden.
      Labels ermöglichen es der Moderatorin oder dem Moderator in einer Podiumsdiskussion,
      die Fragen aus dem Publikum nach Themen oder Adressaten zu filtern:
      Label »Frage an Herrn Scholz«, Label »Frage an Frau Baerbock« …
    </p>

    <p style="padding-top: 25px">
      <strong>Fragen mit Lesezeichen versehen</strong><br><br>
      Raumersteller*innen und Teilnehmende können Fragen individuell mit Lesezeichen versehen.
      Die Lesezeichen der Moderator*innen sind untereinander und für die Lehrkraft ersichtlich.
      Dadurch können Moderator*innen gemeinschaftlich eine Vorauswahl für die Fragenrunde einer Sitzung treffen.
    </p>

    <p style="padding-top: 25px">
      <strong>Stichwort-Extraktion: Fragen KI-gestützt analysieren und optimieren</strong><br><br>
      Im Laufe eines Online-Kurses können sich im Rückkanal schnell Hunderte von Fragen ansammeln,
      die im Nachhinein nur schwer zu überblicken sind.
      Hier hilft die KI mit NLP (Natural Language Processing),
      den Überblick zu behalten:
      Die Substantive in den Texten werden auf ihre grammatische Stellung im Satz analysiert
      und als Stichwörter dem Fragensteller oder der Fragenstellerin zur thematischen Einordnung vorgeschlagen.
    </p>
    <p>
      Wohl wissend, dass die sprachliche Qualität eines anonymen Textes
      in Bezug auf Rechtschreibung, Grammatik, Zeichensetzung und Stil im Allgemeinen gering ist,
      wird in »frag.jetzt« der Text an den Übersetzungsdienst
      <a class="info"
         href="https://deepl.com"
         rel="noreferrer noopener"
         target="_blank">»DeepL«
        <span>Öffnet neue Seite</span>
      </a>

      übermittelt
      und in eine Fremdsprache übersetzt, zum Beispiel Deutsch in Englisch.
      Die KI hinter DeepL ignoriert so gut wie alle sprachlichen Defizite.
      Die anschließende Rückübersetzung in die Ausgangssprache verwandelt einen schlecht geschriebenen Ausgangstext
      in einen formal korrekten und gut lesbaren generierten Text,
      ohne den Inhalt zu verfälschen.
    </p>

    <p>
      Der optimierte Text wird an die NLP-Software
      <a class="info"
         href="https://spacy.io/"
         rel="noreferrer noopener"
         target="_blank">»spaCy«
        <span>Öffnet neue Seite</span>
      </a>

      weitergegeben,
      um aus diesem die Substantive nach Kasus als Stichwörter zu gewinnen.
      In einem letzten Schritt prüfen wir, ob das generierte Stichwort in der Wikipedia verschlagwortet ist.
      Nur dann wird es angezeigt.
    </p>

    <p>
      Das Ergebnis kann sich sehen lassen:
      Wir erstellen aus den KI-generierten Stichwörtern aller Fragen eine Wortwolke,
      die wir in »frag.jetzt« treffend »Themenwolke« nennen.
    </p>

    <p style="padding-top: 25px">
      <strong>Fragen-Fokus: Fragen in Vollansicht präsentieren</strong><br><br>
      Für die Besprechung der Fragen am Beamer können diese einzeln großformatig präsentiert werden.
      Das Weiterschalten zur nächsten oder vorigen Frage erfolgt bequem mit den Pfeiltasten.
      Man kann die Anzeige auch in den »Autofokus-Modus« schalten:
      Dann werden eingehende neue Fragen automatisch in Vollansicht gezeigt.
    </p>
    <p>
      Im Q&A-Forum können laufend neue Fragen oder Bewertungen das Lesen und Präsentieren erschweren, da sich die
      Positionen der Fragen ändern.
      Mit dem Pause-Button kann der Fragenstrom eingefroren werden.
      Neue Fragen oder Bewertungen sind aber weiterhin möglich.
    </p>

    <p style="padding-top: 25px">
      <strong>Fragen durchsuchen, sortieren und filtern</strong><br><br>
      Das schnelle Auffinden bestimmter Fragen wird durch Such-, Sortier- und Filteroptionen ermöglicht.
      Die Volltextsuche schließt auch die Antworten mit ein.
      Das Sortieren ist nach der Zeit, Bewertung und Kontroversität der Fragen möglich.

    <p>
      Mit Klick auf das Label-Icon an einer Frage werden alle Fragen dieser Kategorie angezeigt.
      Mit Klick auf das User-Icon an einer Frage werden alle Fragen dieses Users angezeigt.
      So lässt sich die Verteilung der Fragen unter den Fragenstellenden beurteilen:
      Wie viele Personen beteiligen sich? Welche Fragen stellt ein und dieselbe Person?
    </p>

    <p>
      Als Filterkriterien stehen zur Auswahl:
      ausgezeichnet (Bonus-Stern), Konversationen, markiert (Lesezeichen), nicht markiert, beantwortet, unbeantwortet,
      Fragenummer, zensiert und eigene Fragen.
    </p>

    <p style="padding-top: 25px">
      <strong>Kontroverse Fragen identifizieren</strong><br><br>
      Um kontroverse Fragen zu identifizieren, das heißt Fragen,
      bei denen sich die positiven und negativen Stimmen die Waage halten und im Q&A-Forum einen Wert nahe null
      haben,
      führen wir ein innovatives Sortierkriterium ein: den Grad der Kontroverse oder des Widerspruchs.
    </p>

    <p>
      Zunächst bilden wir die Differenz zwischen positiven und negativen Stimmen und ziehen sie von der Gesamtzahl der
      Stimmen ab.
      Was übrig bleibt, ist die absolute Anzahl der kontroversen Stimmen.
      Wir teilen diesen Wert durch die Gesamtzahl der Stimmen, um den Prozentsatz zu erhalten.
      Schließlich strecken wir den Prozentsatz mit einem empirischen Term,
      damit Fragen mit sehr wenigen kontroversen Stimmen nicht als kontroverser eingestuft werden als Fragen mit vielen
      Stimmen.
      Eine einfache Berechnung mit großer Aussagekraft für kontroverse Fragenrunden!
    </p>

    <p style="padding-top: 25px">
      <strong>Quiz-Rallye mit »antworte.jetzt«</strong><br><br>

      <img alt="antworte.jetzt"
           class="screenshot"
           src="/assets/images/Countdown.webp"
           loading="lazy"
           tabindex="-1"
           width="800"
           height="335">

      »frag.jetzt« verfügt über eine Quizzing-Option:
      Wir haben unsere beliebte spielbasierte Quiz-App »arsnova.click« eingebunden,
      etwas angepasst und umbenannt in »antworte.jetzt«.
      Die
      <a class="info"
         href="https://antworte.jetzt/info/about"
         rel="noreferrer noopener"
         target="_blank">Info-Seite<span>Öffnet neues Fenster</span>
      </a>
      informiert dich über sämtliche Features.
      Die Punktzahl in der Rangliste wird unter Berücksichtigung der Schwierigkeit der Quizfrage
      und der Kürze der Antwortzeit berechnet.
      Wenn alle Quizfragen, die für einen Bonus vorgesehen sind, richtig beantwortet werden,
      erhält der Spieler oder die Spielerin einen Bonuscode, der mit einem Klick per E-Mail an die Lehrperson eingelöst
      werden kann.
    </p>

    <p style="padding-top: 25px">
      <strong>Brainstorming</strong><br><br>

      <img alt="antworte.jetzt"
           class="screenshot"
           src="/assets/images/antworte_jetzt.webp"
           loading="lazy"
           tabindex="-1"
           width="640"
           height="344">

      Mit »frag.jetzt« lässt sich ein Brainstorming ganz im Sinne der Kreativitätsmethode durchführen.
      Die Fragestellung wird als Überschrift einer Wortwolke angezeigt, sodass allen Teilnehmenden stets klar ist,
      wozu sie Ideen entwickeln und formulieren sollen.<br><br>
      Die Ideeneingabe ist wie beim Fragenstellen anonym und kann beliebig oft erfolgen.
      Alle Ideen werden in der Wortwolke synchron zur Eingabe angezeigt.
      Soll nur ein Wort für eine Idee eingegeben werden, so lemmatisiert die KI dieses,
      bringt es also in seine Grundform, sodass Mehrfachnennungen sicher erkannt und durch eine größere Schrift sofort
      sichtbar werden.<br><br>
      In der Diskussionsphase des Brainstormings können die Ideen von allen Teilnehmenden auf- oder abgewertet werden,
      indem der Mauszeiger über den Eintrag bewegt und auf das entsprechende Icon geklickt wird.
      Die Bewertungen haben direkten Einfluss auf die Größenberechnung der Schrift, sodass sich die Wortwolke dynamisch
      aktualisiert.
      Moderator*innen können einzelne Beiträge bearbeiten oder verbannen.<br><br>
      Bei der Eingabe einer Idee können die Teilnehmenden ihren Namen mit angeben.
      Sichtbar werden die Ideengeber*innen im Q&A-Forum, wenn der entsprechende Filter aktiviert wurde.
    </p>
    <p style="padding-top: 25px">
      <strong>Mail-Benachrichtigung</strong><br><br>Registrierte User können sich per Mail
      über neue Fragen und Antworten informieren lassen.
      Wochentag und Uhrzeit der Mail-Benachrichtigung sind einstellbar.
    </p>
    <p style="padding-top: 25px">
      <strong>Kostenfrei bei voller Funktionalität</strong><br><br>
      Es können beliebig viele Räume kostenlos als Gast oder registrierter User gebucht werden.
      Die Anzahl der teilnehmenden User in einem Raum ist nicht begrenzt.
      Die Räume registrierter User bleiben dauerhaft erhalten.
      Erst 180 Tage nach der letzten Nutzung eines Raumes wird dieser automatisch gelöscht.
      Alle Fragen können mit ihren Bewertungen und Kommentaren in einer Excel-Tabelle gespeichert werden.
    </p>
    <p style="padding-top: 25px">
      <strong>Barrierefrei</strong><br><br>In »frag.jetzt« werden die Use Cases von einem Audio Guide vorgelesen und
      sind
      mit den numerischen Tasten navigierbar.
      Dies erlaubt es, die App komfortabel und schnell zu nutzen, ohne zuvor die gesamte Seite mit dem Screen Reader zu
      erkunden.
      Die Benutzerschnittstelle genügt den Anforderungen an Lesbarkeit gemäß WCAG 2.1 AA.
      Für die Beamer-Präsentation und für sehbeeinträchtigte Personen stehen entsprechende Anzeigeoptionen zur
      Verfügung.
      Insbesondere kann die Schriftgröße der Fragen skaliert werden.
      Neben dem Raum-Code kann ein Raum auch über einen automatisch generierten Direktlink betreten werden.
    </p>
    <p style="padding-top: 25px">
      <strong>Datenschutz</strong><br><br>»frag.jetzt« kann bei einer Anmeldung als Gast vollständig anonym verwendet
      werden.
      Die Konten registrierter User werden datenschutzkonform nach den Vorgaben der DSGVO gespeichert und verwaltet.
      Der Programmcode ist »Open Source Software« und einsehbar auf
      <a class="info"
         href="https://github.com/thm-projects/frag.jetzt"
         target="_blank" rel="noopener">
        GitHub<span>Öffnet neue Seite</span></a>.
    </p>

    <p style="padding-top: 25px">
      <strong>Nutzungsoptionen</strong><br><br>»frag.jetzt« wird als kostenloser Dienst als »Software as a Service«
      von der TransMIT GmbH auf Servern in Deutschland betrieben, siehe
      Impressum.
      Wer »frag.jetzt« auf einem eigenen Server betreiben will, findet eine Docker-Installationsanleitung auf
      <a class="info"
         href="https://github.com/thm-projects/frag.jetzt/blob/master/README.md"
         target="_blank" rel="noopener">GitHub <span>Öffnet ein neues Fenster</span>
      </a>
      oder kann die TransMit GmbH damit beauftragen.
    </p>

    <p style="padding-top: 25px">
      <strong>»Progressive Web App« (PWA)</strong><br><br>
      Obwohl eine gewöhnliche Webseite, verhält sie sich wie eine App aus dem App Store.
      Du kannst sie aus dem Browser heraus installieren: »Zur Startseite hinzufügen«.
      Danach startet sie wie eine gewöhnliche App.
      Als PWA läuft sie auf jedem Smartphone, egal welches Betriebssystem, egal welcher Browser.
      So wird dein Publikum immer bereit sein, »frag.jetzt« vorort und spontan zu nutzen.
    </p>
    <p style="padding-top: 25px">
      <strong>Freie Software, frei von Werbung</strong><br><br>
      »frag.jetzt« ist seit dem Wintersemester 2019/20 ein Open-Source-Projekt der Technischen Hochschule Mittelhessen,
      THM.
      Die Website ist herstellerneutral und frei von Werbung.
      Die Weiterentwicklung ist für die nächsten Jahre garantiert.
      Dann geht der Projektleiter in Pension und wird das Projekt als Hobby betreiben.
      Aber bis dahin werden Hunderte Informatikstudierende der THM engagiert und kontinuierlich an allen Aspekten der
      Software-Entwicklung
      (User Experience, Hochverfügbarkeit und Sicherheit) weiter arbeiten – nicht für Geld, sondern Credit Points und
      gute Noten.
    </p>
  </div>

  <h2 style="padding-top: 25px" tabindex="0">Handy-Nutzung im Hörsaal</h2>
  <div tabindex="0">
    <p>
      Die Nutzung des Smartphones während der Veranstaltung bringt ein hohes Ablenkungsrisiko mit sich.
      Wir haben aus unserer langjährigen Erfahrung mit Audience-Response-Systemen im Hörsaal gelernt,
      wie man das Ablenkungsrisiko didaktisch angehen kann:
    </p>

    <ol>
      <li>
        <p>Handy-Nutzung während der Vorlesung:</p>
        Eine Hilfskraft moderiert das Q&A-Forum vor Ort oder aus der Ferne.
        10 Minuten vor Ende der Vorlesung beantwortet die Lehrperson 2-3 Top-Fragen am Beamer.
        <br><br>
        Was wenn ich keine Hilfskraft zur Verfügung habe?
        Frage jemanden aus der ersten Reihe, diesen Job zu übernehmen.
        Sie oder er wird nicht Nein sagen.
      </li>
      <li>
        <p>Handy-Nutzung nur in der Pause:</p>
        Die Lehrperson gibt den Raum-Code in der Pause bekannt und moderiert die Fragen selbst.
        Nach der Pause beantwortet sie 2-3 Top-Fragen.
      </li>
      <li>
        <p> Keine Handy-Nutzung während der Vorlesung (A):</p>
        Die Lehrperson erstellt einen neuen Raum am Ende jeder Vorlesung.
        Die Studierenden können zuhause Fragen stellen und bewerten.
        Das Q&A-Forum moderiert eine Hilfskraft oder die Lehrperson selbst.
        In den ersten 10 Minuten der nächsten Vorlesung geht die Lehrperson auf 2-3 Top-Fragen ein.
      </li>
      <li>
        <p>Keine Handy-Nutzung während der Vorlesung (B):</p>
        Die Lehrperson erstellt einen Raum für die gesamte Dauer des Kurses.
        Eine Hilfskraft moderiert das Q&A-Forum während des Semesters.
        Die Lehrperson markiert die relevanten Fragen und löscht alle anderen.
        Das Q&A-Forum dient so der Reflexion der Vorlesungsinhalte und zur Vorbereitung auf die Klausur.
      </li>
    </ol>
  </div>

  <h2 tabindex="0">Screen Reader und »Gender«-gerechte Sprache</h2>

  <p tabindex="0">
    Screen Reader für sehbeeinträchtigte oder blinde Personen sprechen »ge-genderte« Nomen unverständlich aus.
    Wir verwenden deshalb das
    <a class="info"
       href="https://de.wikipedia.org/wiki/Generisches_Maskulinum"
       rel="noreferrer noopener"
       target="_blank">Generische Maskulinum<span>Öffnet neue Seite</span></a>
    für gesprochene Texte und Labels in der App.
    <br><br>

    Auf der Grundlage eigener Tests mit blinden Personen empfehlen wir folgende Screen Reader für die Nutzung von
    »frag.jetzt«:
    <br><br>

    Windows-Rechner:
    <a class="info"
       href="https://nvda.bhvd.de/"
       rel="noreferrer noopener"
       target="_blank">NVDA<span>Öffnet neue Seite</span></a>
    <br>
    Linux-Rechner:
    <a class="info"
       href="https://support.google.com/chromebook/answer/7031755?hl=de"
       rel="noreferrer noopener"
       target="_blank">ChromeVox<span>Öffnet neue Seite</span></a>
    <br>
    macOS-Rechner:
    <a class="info"
       href="https://help.apple.com/voiceover/mac/"
       rel="noreferrer noopener"
       target="_blank">VoiceOver<span>Öffnet neue Seite</span></a>
    <br>
  </p>
</div>
