<div data-nosnippet>

  <p class="slogan" tabindex="0">Des questions ?</p>

  <img alt="Auditoire"
       class="screenshot"
       height="185"
       src="/assets/background/auditorium.webp"
       srcset="/assets/background/auditorium.webp 1x, /assets/background/Auditorium-original-bw.webp 2x"
       loading="lazy"
       tabindex="-1"
       width="811">

  <div tabindex="0">
    <p>
      Les conférences, les cours et, depuis Corona, les séminaires en ligne se terminent généralement par&nbsp;:
      «&nbsp;Vous avez des questions ?&nbsp;».
      Et personne ne répond jamais, ou alors ce sont toujours les mêmes, qui posent des questions.
      Dans la salle de conférence, personne n'ose poser de questions,
      ou alors les questions que l'on voulait poser au cours de la conférence sont oubliées.
      Dans le système des vidéoconférences, on n'agit pas de manière anonyme.
      La réunion peut être enregistrée.
      Les microphones sont muets.
      Le chat devient vite confus et on a du mal à suivre les commentaires et les questions.
    </p>

    <p>
      Celui qui tient à ce que les conférences et les séminaires en ligne soient remis en question
      a besoin d'un outil pour poser des questions de manière anonyme et silencieuse.
      Un tel outil open-source, comme «&nbsp;frag.jetzt&nbsp;», est disponible gratuitement.
      Y a-t-il des doutes ?
      L'outil est-il accessible à tous, conforme à la protection des données,
      utilisable immédiatement avec n'importe quel appareil sans formation ni compréhension technique ?
      Trois fois oui.
    </p>

    <p>Si je laisse utiliser «&nbsp;frag.jetzt&nbsp;» de manière anonyme et donc sans contrôle social,
      n'est-ce pas aussi une invitation à l'abus ?
      Non, car le forum Q&R (questions-réponses) peut être modéré en direct par un assistant&nbsp;:
      Seuls les questions et les commentaires appropriés à la présentation restent dans le forum.
      De plus, tu peux déplacer automatiquement toutes les nouvelles questions dans la modération&nbsp;:
      elles ne deviennent publiques que lorsque toi ou tes modérateurs les approuvent individuellement.
    </p>

    <p>
      Mais je ne peux quand même pas répondre à toutes les questions dans les dix dernières minutes de mon exposé
      ou dans le séminaire en ligne.
      Bien sûr que non !
      C'est là qu'intervient l'aspect collectif de l'outil&nbsp;:
      les participants peuvent évaluer chaque question, en d'autres termes, voter vers le haut ou vers le bas.
      Tu peux répondre immédiatement aux questions les mieux notées par les participants, et aux autres questions,
      si tu le souhaites, plus tard dans «&nbsp;frag.jetzt&nbsp;», puisque la session d'un utilisateur enregistré se
      poursuit.
    </p>

    <p>
      Tu peux également utiliser cet outil avant l'événement
      pour recueillir les questions des participants et les mettre à disposition pour les pondérer.
      Cela permet d'impliquer les participants avant l'événement,
      de sonder leurs attentes et leurs connaissances préalables et d'adapter ta présentation ou ton séminaire en
      conséquence.
    </p>

    <p>
      Tu peux également utiliser l'outil avant l'événement pour rassembler les questions des participants
      et les mettre à disposition pour les pondérer.
      Cela permet d'impliquer les participants avant l'événement,
      d'évaluer les attentes et les connaissances préalables et d'adapter ta présentation ou ton séminaire en
      conséquence.
    </p>

  </div>

  <h2 tabindex="0">Activer les étudiants en ligne et en salle de cours</h2>

  <p>
    Ceux qui ont donné des séminaires en ligne
    savent ce que cela signifie de parler contre un «&nbsp;mur numérique&nbsp;»&nbsp;:
    Parler sans feedback avec une tendance à se parler à soi-même.
    On ne voit pas si les participants écoutent vraiment,
    s'ils comprennent ce qu'ils entendent ou même s'ils sont présents.
    Leurs caméras sont éteintes.
    Mais même quand on voit le public, par exemple en face à face dans un amphithéâtre,
    il y a cette incertitude.

    Dans un podcast sur podcampus.de, Malte Persike explique comment utiliser les systèmes de réponse de l'audience,
    notamment avec des outils backchannel comme «&nbsp;frag.jetzt&nbsp;», pour activer les étudiants&nbsp;:
  </p>

  <a class="info"
     href="https://www.podcampus.de/nodes/RkPlg"
     target="_blank" rel="noopener">
    Digitales Lehren, Lernen und Prüfen: Wie gelingt die Aktivierung von Studierenden?
    <span>Ouvre une nouvelle page</span>
  </a>
  <br><br>
  <div class="video">
    <div class="videoWrapper">
      <iframe title="Malte Persike: Digitales Lehren, Lernen und Prüfen: Wie gelingt die Aktivierung von Studierenden?"
              src="https://www.podcampus.de/nodes/RkPlg/embed?vq=res1080"
              loading="lazy"
              tabindex="0"
              height="360"
              allowfullscreen>
      </iframe>
    </div>
  </div>

  <h2 tabindex="0">
    La particularité de «&nbsp;frag.jetzt&nbsp;»
  </h2>
  <p>
    Qu'est-ce qui distingue notre outil backchannel de «&nbsp;Mentimeter&nbsp;», «&nbsp;Slido&nbsp;», «&nbsp;Poll
    Everywhere&nbsp;»
    et de nombreuses autres applications commerciales de feedback ?
    Il est le résultat de nombreuses années d'expérience avec des systèmes de réponse d'audience anonymes dans
    l'enseignement en présentiel et en ligne.
    Outre une utilisation intuitive, prouvée par des études UX empiriques avec des centaines d'étudiants,
    des critères didactiques et motivationnels ont été déterminants pour la conception et le développement de
    l'application,
    voir notre
    <a class="info"
       href="https://arsnova.thm.de/blog/"
       target="_blank" rel="noopener">blog ARSnova<span>Ouvre une nouvelle page</span></a>.
  </p>

  <div tabindex="0">
    <p style="padding-top : 25px">
      <strong>Bonus pour les «&nbsp;bonnes questions&nbsp;»</strong><br><br>
      L'enseignant peut attribuer une étoile aux bonnes questions.
      Les personnes qui posent de bonnes questions reçoivent un code à 8 chiffres («&nbsp;token&nbsp;») pour chaque
      étoile acquise.
      Les tokens peuvent être échangés contre des points bonus par e-mail.
      L'enseignant vérifie les tokens soumis à l'aide des tokens attribués dans l'archive de bonus de sa salle.
    </p>

    <p style="padding-top : 25px">
      <strong>Répondre aux questions ou les marquer</strong><br><br>
      Les enseignants et les modérateurs peuvent répondre aux questions par l'affirmative,
      la négative, les commenter ou les caractériser avec une étoile.
      Bien entendu, les icônes peuvent également être utilisées à d'autres fins de marquage.
      Elles servent également de critères de filtrage pour trouver rapidement les questions marquées ou commentées.
      Si l'enseignant a validé cette option, les participants peuvent également commenter toutes les questions.
      Des conversations sont possibles, c'est-à-dire commentaires sur commentaires.
    </p>

    <p style="padding-top : 25px">
      <strong>Catégoriser les questions</strong><br><br>
      Les créateurs de salles et les modérateurs peuvent définir des catégories de questions («&nbsp;labels&nbsp;»).
      Les auteurs de questions peuvent attribuer leur question à l'une des catégories prédéfinies, même ultérieurement.
      Les questions catégorisées peuvent être filtrées en cliquant sur l'icône du label.
      Les labels permettent au modérateur de filtrer les questions du public par thème ou par destinataire&nbsp;:
      label «&nbsp;Question à M. Scholz&nbsp;», label «&nbsp;Question à Mme Baerbock&nbsp;»&nbsp;…
    </p>

    <p style="padding-top : 25px">
      <strong>Marquer les questions avec des signets</strong><br><br>
      Les modérateurs de salle et les participants peuvent marquer individuellement les questions avec des signets.
      Les signets des modérateurs sont visibles entre eux et pour l'enseignant.
      Cela permet aux modérateurs de faire une présélection commune pour la série de questions d'une session.
    </p>

    <p style="padding-top : 25px">
      <strong>Extraction de mots-clés&nbsp;: analyser et optimiser les questions avec l'IA</strong><br><br>
      Lors d'un séminaire en ligne, des centaines de questions peuvent rapidement s'accumuler dans le canal de retour,
      dont il est difficile de garder une vue d'ensemble par la suite.
      C'est là qu'intervient l'IA avec le NLP (Natural Language Processing)&nbsp;:
      les substantifs dans les textes sont analysés selon leur position grammaticale
      dans la phrase et proposés à l'auteur de la question comme mots-clés pour le classement thématique.
    </p>

    <p>
      Tout en sachant que la qualité linguistique d'un texte anonyme
      en termes d'orthographe, de grammaire, de ponctuation et de style est généralement faible,
      dans «&nbsp;frag.jetzt&nbsp;», le texte est transmis au service de traduction
      <a class="info"
         href="https://deepl.com"
         rel="noreferrer noopener"
         target="_blank">DeepL
        <span>Öffnet neue Seite</span>
      </a>

      et traduit dans une langue étrangère, par exemple l'allemand en anglais.
      L'IA derrière DeepL ignore pratiquement toutes les imperfections linguistiques.
      La retraduction qui s'ensuit dans la langue source transforme un texte source mal écrit en un texte généré
      formellement correct et facile à lire,
      sans en dénaturer le contenu.
    </p>

    <p>
      Le texte optimisé est envoyé au logiciel NLP
      <a class="info"
         href="https://spacy.io/"
         rel="noreferrer noopener"
         target="_blank">«&nbsp;spaCy&nbsp;»<span>Ouvre une nouvelle page</span>
      </a>, pour en extraire les substantifs par cas comme mots-clés.
      Dans une dernière étape, nous vérifions si le mot-clé généré est indexé dans Wikipedia.
      Ce n'est que dans ce cas qu'il sera affiché.
    </p>

    <p>
      Le résultat est impressionnant&nbsp;:
      Nous créons un nuage de mots à partir des mots-clés générés par l'IA pour toutes les questions,
      que nous appelons à juste titre «&nbsp;nuage thématique&nbsp;» dans «&nbsp;frag.jetzt&nbsp;».
    </p>

    <p style="padding-top : 25px">
      <strong>Focus sur les questions&nbsp;: présenter les questions en plein écran</strong><br><br>
      Pour la discussion des questions au vidéoprojecteur, celles-ci peuvent être présentées individuellement en grand
      format.
      Le passage à la question suivante ou précédente se fait aisément à l'aide des touches fléchées.
      Il est également possible d'activer l'affichage en «&nbsp;mode autofocus&nbsp;»&nbsp;:
      Les nouvelles questions entrantes sont alors automatiquement affichées en plein écran.
    </p>

    <p>
      Dans le forum Q&R,
      de nouvelles questions ou évaluations peuvent continuellement compliquer la lecture et la présentation,
      car les positions des questions changent.
      Le bouton Pause permet de geler le flux de questions.
      Les nouvelles questions ou évaluations restent cependant possibles.
    </p>

    <p style="padding-top : 25px">
      <strong>Chercher, trier et filtrer les questions</strong><br><br>
      La recherche rapide de questions spécifiques est rendue possible grâce aux options de recherche, de tri et de
      filtrage.
      La recherche plein texte inclut également les réponses.
      Le tri est possible en fonction du temps, de l'évaluation et de la controverse des questions.
    </p>

    <p>
      En cliquant sur l'icône de la catégorie (en forme d'étiquette de prix), toutes les questions de cette catégorie
      s'affichent.
      En cliquant sur l'icône utilisateur d'une question, toutes les questions de cet utilisateur s'affichent.
      Cela permet d'évaluer la répartition des questions parmi les personnes qui les posent&nbsp;:
      Combien de personnes participent ? Quelles sont les questions posées par une seule et même personne ?
    </p>

    <p>
      Les critères de filtrage sont au choix&nbsp;:
      excellent (étoile bonus), conversations, marquées (signet), non marquées, répondues, sans réponse,
      numéro de question, censuré et questions personnelles.
    </p>

    <p style="padding-top : 25px">
      <strong>Identifier les questions controversées</strong><br><br>
      Pour identifier les questions controversées,
      c'est-à-dire les questions pour lesquelles les votes positifs et négatifs s'équilibrent
      et ont une valeur proche de zéro dans le forum Q&R, nous introduisons un critère de tri innovant&nbsp;:
      le degré de controverse ou de contradiction.
    </p>

    <p>
      Tout d'abord, nous calculons la différence entre les votes positifs et les votes négatifs et la déduisons du
      nombre total de
      voix, puis les déduire.
      Ce qui reste est le nombre absolu de votes controversés.

      Nous divisons cette valeur par le nombre total de votes pour obtenir le pourcentage.
      Enfin, nous étendons le pourcentage avec un terme empirique
      afin que les questions avec très peu de votes controversés ne soient pas considérées comme plus controversées que
      les questions avec beaucoup de votes.
      Un calcul simple mais très pertinent pour les séries de questions controversées !
    </p>

    <p style="padding-top : 25px">
      <strong>Rallye quiz avec «&nbsp;antworte.jetzt&nbsp;»</strong><br><br>

      <img alt="antworte.jetzt"
           class="screenshot"
           src="/assets/images/Countdown.webp"
           loading="lazy"
           tabindex="-1"
           width="640"
           height="344">

      «&nbsp;frag.jetzt&nbsp;» dispose d'une option de quiz&nbsp;:
      nous avons intégré notre application de quiz populaire, basée sur le jeu «&nbsp;arsnova.click&nbsp;».
      Nous avons adapté ce jeu, puis l'avons rebaptisé «&nbsp;antworte.jetzt&nbsp;».

      La
      <a class="info"
         href="https://antworte.jetzt/info/about"
         rel="noreferrer noopener"
         target="_blank">page d'information<span>Ouvre une nouvelle fenêtre</span>
      </a> te renseigne sur toutes les fonctionnalités.
      Le nombre de points dans le classement est calculé en tenant compte de la difficulté de la question du quiz
      et de la brièveté du temps de réponse.
      Si toutes les questions du quiz prévues pour un bonus sont correctement répondues,
      le joueur reçoit un code bonus qu'il peut utiliser en un clic en envoyant un e-mail à son enseignant.
    </p>

    <p style="padding-top : 25px">
      <strong>Brainstorming</strong><br><br>

      <img alt="antworte.jetzt"
           class="screenshot"
           src="/assets/images/antworte_jetzt.webp"
           loading="lazy"
           tabindex="-1"
           width="640"
           height="344">

      Avec «&nbsp;frag.jetzt&nbsp;», il est possible de réaliser un brainstorming tout à fait dans l'esprit de la
      méthode de
      créativité.

      La question est affichée sous la forme d'un titre dans un nuage de mots,
      de sorte que tous les participants sachent toujours sur quoi ils doivent développer et formuler des idées.
      <br><br>

      Comme pour les questions, la soumission d'idées est anonyme et peut être effectuée autant de fois que tu le
      souhaites.
      Toutes les idées sont affichées dans le nuage de mots de manière synchronisée avec la soumission.
      Si un seul mot doit être saisi pour une idée, l'IA le lemmatise,
      c'est-à-dire que l'IA lui donne sa forme de base,
      de sorte que les multiples mentions soient reconnues à coup sûr et immédiatement visibles grâce à une écriture
      plus grande. <br><br>

      Lors du brainstorming,
      les idées peuvent être valorisées ou dévalorisées par tous les participants
      en plaçant le curseur de la souris sur l'entrée et en cliquant sur l'icône correspondante.
      Les évaluations ont une influence directe sur le calcul de la taille de l'écriture des idées soumises.
      Les modérateurs peuvent modifier ou bannir des soumissions individuelles.
      <br><br>

      Lors de la saisie d'une idée, les participants peuvent également indiquer leur nom.
      Ainsi, les auteurs des idées sont visibles dans la liste des questions-réponses si le filtre correspondant a été
      activé.
    </p>

    <p style="padding-top : 25px">
      <strong>Notification par e-mail</strong><br><br>
      Les utilisateurs enregistrés peuvent être avertis par e-mail des nouvelles questions et réponses.
      Le jour de la semaine et l'heure de la notification par e-mail sont réglables.
    </p>

    <p style="padding-top : 25px">
      <strong>Gratuit avec toutes les fonctionnalités</strong><br><br>
      Il est possible de réserver gratuitement autant de salles que l'on veut en tant qu'invité ou utilisateur
      enregistré.
      Le nombre d'utilisateurs participant à une salle n'est pas limité.
      Les salles des utilisateurs enregistrés sont conservées durablement.
      Ce n'est que 180 jours après la dernière utilisation d'une salle que celle-ci est automatiquement supprimée.
      Toutes les questions peuvent être enregistrées dans un tableau Excel avec leurs évaluations et leurs commentaires.
    </p>

    <p style="padding-top : 25px">
      <strong>Accessibilité</strong><br><br>Dans «&nbsp;frag.jetzt&nbsp;»,
      les cas d'utilisation sont lus par un guide audio et peuvent être navigués à l'aide des touches numériques.
      Cela permet d'utiliser l'application confortablement et rapidement
      sans avoir à explorer toute la page au préalable avec le lecteur d'écran.
      L'interface utilisateur répond aux exigences de lisibilité de la WCAG 2.1 AA.
      Des options d'affichage appropriées sont disponibles pour la présentation au projecteur et pour les personnes
      malvoyantes.
      En particulier, la taille de l'écriture des questions peut être mise à l'échelle.
      En plus du code de salle, il est possible d'accéder à une salle via un lien direct généré automatiquement.
    </p>

    <p style="padding-top : 25px">
      <strong>Protection des données</strong><br><br>«&nbsp;frag.jetzt&nbsp;»
      peut être utilisé de manière totalement anonyme lors d'une inscription en tant qu'invité.
      Les comptes des utilisateurs enregistrés sont sauvegardés et gérés en conformité avec la protection des données
      et les directives du RGPD.
      Le code du programme est un « logiciel open source » et peut être consulté sur
      <a class="info"
         href="https://github.com/thm-projects/frag.jetzt"
         target="_blank" rel="noopener">
        GitHub<span>Ouvre une nouvelle page</span></a>.
    </p>

    <p style="padding-top : 25px">
      <strong>Options d'utilisation</strong><br><br>«&nbsp;frag.jetzt&nbsp;» est un service gratuit en tant que «&nbsp;Software
      as a Service&nbsp;».
      exploité par TransMIT GmbH sur des serveurs en Allemagne, voir
      Mentions légales.
      Pour ceux qui souhaitent utiliser «&nbsp;frag.jetzt&nbsp;» sur leur propre serveur,
      des instructions d'installation de Docker sont disponibles sur
      <a class="info"
         href="https://github.com/thm-projects/frag.jetzt/blob/master/README.md"
         target="_blank" rel="noopener">GitHub <span>Ouverture d'une nouvelle fenêtre</span>
      </a>
      ou on peut demander à TransMit GmbH de le faire.
    </p>

    <p style="padding-top : 25px">
      <strong>«&nbsp;Progressive Web App&nbsp;» (PWA)</strong><br><br>
      Bien qu'il s'agisse d'une page web ordinaire, elle se comporte comme une application de l'App Store.
      Tu peux l'installer à partir du navigateur&nbsp;: «&nbsp;Ajouter à la page d'accueil&nbsp;».
      Ensuite, elle se lance comme une application ordinaire.
      En tant que PWA, elle fonctionne sur n'importe quel smartphone, quel que soit le système d'exploitation ou le
      navigateur.
      Ainsi, ton public sera toujours prêt à utiliser «&nbsp;frag.jetzt&nbsp;» sur place et spontanément.
    </p>

    <p style="padding-top : 25px">
      <strong>Logiciel libre, sans publicité</strong><br><br>
      «&nbsp;frag.jetzt&nbsp;» est un projet open source de la Technische Hochschule Mittelhessen, THM, depuis le
      semestre d'hiver 2019/20.
      Le site web est neutre vis-à-vis des fabricants et exempt de publicité.
      Son développement est garanti pour les années à venir.
      Ensuite, le chef de projet partira à la retraite et gérera le projet comme un hobby.
      Mais d'ici là, des centaines d'étudiants en informatique de la THM travailleront de façon engagée et continue sur
      tous les aspects du développement de logiciels (expérience utilisateur, haute disponibilité et sécurité) –
      pas pour de l'argent, mais pour des crédits ECTS et des bonnes notes.
    </p>

  </div>

  <h2 style="padding-top : 25px" tabindex="0">Utilisation du téléphone portable en salle de cours</h2>
  <div tabindex="0">
    <p>
      L'utilisation du smartphone pendant l'événement entraîne un risque élevé de distraction.
      Nous avons tiré les leçons de notre longue expérience avec les systèmes de réponse à l'audience en salle de cours,
      comment aborder le risque de distraction de manière didactique&nbsp;:
    </p>

    <ol>
      <li>
        <p>Utilisation du téléphone portable pendant le cours&nbsp;:</p>
        Un assistant anime le forum de questions-réponses sur place ou à distance.
        10 minutes avant la fin du cours, l'enseignant répond à 2-3 des meilleures questions au projecteur.
        <br><br>
        Que faire si je n'ai pas d'assistant à disposition ?
        Demande à une personne du premier rang de faire cela.
        Elle ou il ne dira pas non.
      </li>
      <li>
        <p>Utilisation du téléphone portable uniquement pendant la pause&nbsp;:</p>
        L'enseignant communique le code de la salle pendant la pause et anime lui-même les questions.
        Après la pause, il répond à 2-3 des meilleures questions.
      </li>
      <li>
        <p> Pas d'utilisation du téléphone portable pendant le cours (A)&nbsp;:</p>
        L'enseignant crée une nouvelle salle à la fin de chaque cours.
        Les élèves peuvent poser des questions et les évaluer chez eux à la maison.
        Le forum de questions-réponses est modéré par un assistant ou par l'enseignant lui-même.
        Pendant les 10 premières minutes du cours suivant, l'enseignant aborde 2-3 questions clés.
      </li>
      <li>
        <p>Pas d'utilisation de téléphone portable pendant le cours (B)&nbsp;:</p>
        L'enseignant crée une salle pour toute la durée du cours.
        Un assistant anime le forum de questions-réponses pendant le semestre.
        L'enseignant met en évidence les questions pertinentes et supprime toutes les autres.
        Le forum Q&R sert ainsi à la réflexion sur le contenu du cours et à la préparation de l'examen.
      </li>
    </ol>
  </div>
</div>
