mat-form-field {
  color: var(--on-surface);
}

.layoutWrapper {
  padding-left: 15px;
}

form {
  padding-top: 5%;
}

mat-error {
  font-size: small;
  color: var(--red) !important;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

mat-hint {
  color: var(--on-surface) !important;
}

.placeholder {
  color: var(--on-surface);
  filter: opacity(0.6);
  font-style: italic;
}

:host {
  ::ng-deep .mat-form-field-label {
    color: var(--on-surface) !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: var(--primary) !important;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: var(--primary) !important;
  }

  ::ng-deep .mat-form-field .mat-form-field-infix {
    max-width: 130px;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px var(--surface) inset;
  -webkit-text-fill-color: var(--on-surface);
}

#session_enter-button {
  height: 60px;
  font-size: 16px;
  background-color: var(--background);
  color: var(--on-background);
}

.join-room {
  padding: 0 16px 0 10px;
  transform: scale(2.5);
  color: var(--primary);
}

button:hover {
  outline: 3px solid var(--secondary);
}
