@use '@angular/material' as mat;
@import 'theme/light-theme/_variables.scss';
@import 'theme/dark-theme/dark-theme';
@import 'theme/blue-theme/blue-theme';
@import 'theme/purple-theme/purple-theme';

@import '~katex/dist/katex.min.css';
@import '~prismjs/plugins/line-numbers/prism-line-numbers.css';
@import '~prismjs/plugins/line-highlight/prism-line-highlight.css';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($arsnova-theme);

body {
  font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;
  background-color: var(--background, #121212);
}

.dark {
  @include mat.all-component-themes($dark-theme);
}

.blue {
  @include mat.all-component-themes($blue-theme);
}

.purple {
  @include mat.all-component-themes($purple-theme);
}

@import 'theme/light-theme/theme';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

.modal {
  outline: none;
  border-color: transparent;
}

.placeholder {
  color: var(--on-surface);
  filter: opacity(0.6);
  font-style: italic;
}

.oldtypo {
  &-h1 {
    color: var(--on-surface) !important;
    font-size: 20px !important;
    hyphens: auto;
  }

  &-h2 {
    color: var(--on-surface) !important;
    font-size: 18px !important;
    hyphens: auto;
  }

  &-h3 {
    color: var(--on-surface) !important;
    font-size: 16px !important;
    hyphens: auto;
  }

  &-p {
    color: var(--on-surface);
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 1.5 !important;
    hyphens: auto;
  }
}

.oldtypo h4 {
  padding-top: 10%;
  font-size: 16px !important;
}

.oldtypo p, .oldtypo div {
  color: var(--on-surface);
  hyphens: auto;
}

address {
  font-style: normal;
}

.overflow_hide {
  height: 0;
  overflow: hidden;
}

.testBox {
  width: 50%;
  height: 50%;
  position: fixed;
  left: 0;
  top: 25%;
  z-index: 1000;
  background-color: var(--surface);
}

.filledDialog {
  width: calc(100% - 50px);
  min-width: calc(100% - 50px);
  max-width: calc(100% - 50px);
  height: calc(100% - 50px);
  margin: 25px;
  padding: 0;
}

.screenDialog {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.imgWrp img {
  width: calc(100% - 35px);
  height: calc(100% - 35px);
  image-rendering: crisp-edges;
}

.mat-card, .mat-dialog-container {
  border-radius: 10px !important;
  hyphens: auto !important;
}

@media only screen and (max-height: 500px) {
  .mat-dialog-container {
    max-height: 70vh !important;
  }
  .dialog-action-buttons {
    margin: 10px 0 !important;
  }
}

.mat-card {
  line-height: 1.5 !important;
  color: var(--on-surface) !important;
}

a.info {
  position: relative;
  z-index: 24;
  text-decoration: none;
}

a.info span {
  position: absolute;
  left: -9000px;
  width: 0;
  overflow: hidden;
  font-size: 12px;
}


a.info:hover span, a.info:focus span, a.info:active span {
  display: block;
  position: absolute;
  top: 1.3em;
  left: 0;
  width: max-content;
  background-color: var(--primary);
  color: var(--on-primary);
  text-align: left;
  padding: 5px;
}

.mat-simple-snackbar span {
  margin: auto;
  text-align: center;
}

a {
  hyphens: auto !important;
}

.mat-row {
  height: 60px !important;
}

.mat-menu-item {
  outline: none !important;
}

.mat-dialog-container {
  max-width: 650px !important;
  line-height: 1.5 !important;
  border: thin solid dimgray;
  margin: 0 auto;
}

.mat-menu-item .mat-icon-no-color {
  color: var(--on-dialog);
}

.mat-menu-item svg {
  stroke: var(--on-dialog);
  fill: var(--on-dialog);
}

.star {
  color: var(--yellow) !important;
}

.settings {
  color: var(--primary) !important;
}

.faq {
  color: var(--on-dialog) !important;
}

.fullscreen {
  color: var(--on-dialog) !important;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
  line-height: 1 !important;
}

.mat-checkbox .mat-checkbox-frame {
  border-color: var(--on-dialog);
  background-color: var(--dialog);
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  border-color: var(--on-primary);
  background-color: var(--primary);
}

.mat-form-field-label, .mat-hint {
  color: var(--on-dialog) !important;
}

.mat-tab-label-active, .mat-tab-label {
  color: var(--on-dialog) !important;
  background-color: var(--dialog) !important;
  opacity: 1.0 !important;
}

.mat-ink-bar {
  background-color: var(--primary) !important;
  height: 3px !important;
}

.mat-error {
  color: var(--red);
}

.mat-spinner circle {
  stroke: var(--on-background);
}

.mat-radio-label-content {
  white-space: normal !important;
}

.mat-option {
  background-color: var(--dialog);
  color: var(--on-dialog);

  &:hover {
    background-color: var(--secondary) !important;
    color: var(--on-secondary) !important;
  }

  &.mat-selected:not(.mat-active):not(:hover) {
    background-color: var(--primary) !important;
    color: var(--on-primary) !important;
  }
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: var(--primary);
  color: var(--on-primary) !important;
}

.mat-select-value {
  color: var(--on-dialog);
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
  border-bottom-width: 1px;
}

.mat-cell {
  hyphens: auto !important;
}

.mat-header-row .mat-header-cell {
  background-color: var(--secondary) !important;
  color: var(--on-secondary) !important;
}

.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
  background: var(--green) !important;
}

.mat-input-element::placeholder {
  color: var(--on-surface);
  opacity: (0.6);
  font-style: italic;
}

h1 {
  color: var(--on-surface) !important;
  font-size: 20px !important;
  hyphens: auto;
}

blockquote {
  margin-inline-start: 10px;
  margin-inline-end: 0;
}

.mat-tooltip {
  white-space: pre-line;
  color: white;
  background-color: green;
  border-radius: 10px !important;
  font-size: 14px;
  line-height: 1.5;
  padding: 15px !important;
  hyphens: auto;
}

.mat-flat-button.mat-button-disabled {
  background-color: lightgray !important;
  color: gray !important;
  outline: gray solid 3px !important;
}

.mat-bottom-sheet-container {
  background-color: var(--dialog);
  color: var(--on-dialog);
  border-top-left-radius: 40px !important;
  border-top-right-radius: 40px !important;
  border-top: thin solid dimgray;
  border-left: thin solid dimgray;
  border-right: thin solid dimgray;
  margin: 0 15px;
  min-width: unset !important;
}

.mat-dialog-content {
  padding: 0 24px 1em 24px !important;
}

@media screen and (min-width: 800px) {

  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) transparent;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }

  *::-webkit-scrollbar-track {
    background: var(--dialog);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
  }
}

@media screen and (max-width: 800px) {

  body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}

.mat-slide-toggle-bar {
  background-color: var(--grey-light);
}

.mat-slide-toggle-thumb {
  background-color: var(--grey);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--grey-light);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--secondary);
}

.mat-slider-wrapper {
  background-color: darkgray !important;
}

.mat-accent .mat-slider-track-fill {
  background-color: darkorange !important;
}

.mat-slider-thumb-label {
  background-color: var(--grey-light) !important;
}

.mat-slider-thumb {
  background-color: darkorange !important;
}

article.dsgvo-info-article {
  margin: 20px 0 0 10px;
  background-color: transparent;
  outline: thin solid dimgray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: min-content;
  width: calc(100% - 11px);
  word-break: break-word;

  h3 {
    margin: 1em;
  }

  p {
    margin: 0 1em;
  }

  button {
    background-color: transparent;
    color: var(--secondary);
    outline: var(--secondary) solid 3px;
    width: fit-content;
    margin: 1.5em auto;

    &:hover {
      background-color: var(--secondary);
      color: var(--on-secondary);
    }
  }
}

iframe {
  width: 100%;
  border: none;
}

.videoWrapper {
  position: relative;
  width: 100%;
  overflow-wrap: break-word;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  &:after {
    content: "";
    display: block;
    padding-bottom: 56.25%; /* 16:9 */
    width: 100%;
  }

  &.dsgvo-inside {
    &:after {
      content: unset;
    }
  }
}

.mat-tab-header-pagination-chevron {
  border-color: var(--primary);
}
