<p>
  Du kannst beliebig viele Ideen eingeben;
  sie werden in Echtzeit angezeigt.
  Soll nur ein Wort eingegeben werden, bringt eine KI das Wort in seine Grundform, um Mehrfachnennungen zu erkennen.
  Je mehr Personen dieselbe Idee haben und je höher sie bewertet wird, desto größer und zentraler erscheint sie.
</p>

<ol>
  <li>Eine Idee eingeben</li>
  <li>Eine Idee bewerten</li>
  <li>Aussehen der Wortwolke ändern</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
