:host {
  .align-center-y {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .container {
    width: 100%;
    height: calc(100% - 115px) !important;

    .message {
      app-motd-message {
        margin-bottom: 20px;
      }

      :last-child {
        margin-bottom: 0;
      }
    }

    &-title {
      font-weight: normal;
    }
  }

  mat-dialog-content {
    height: 100% !important;
    max-height: 100% !important;
    hyphens: auto;
  }

  mat-dialog-container {
    padding: 0 !important;
  }
}

.mat-flat-button {
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 3px;
  margin: 10px;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}
